

table {
    border-collapse: collapse; 
    background-color: #f3f1e4;
}


td {
    border-style: none;
    text-align: center;
    font-family: arial;
    font-size: 25px;
    width: 40px;
    height: 40px;    
}

.blank {
    font-size: 25px;
    font-family: arial;
    background-color: white;
    border-style: solid;
    border-color: #9a6735;
    border-width: 4px;
}

.blau {
    font-size: 25px;
    font-family: arial;
    color: white;
    background-color: #3366cc;
    border-style: solid;
    border-color: #003366;
    border-width: 4px;
}