h1 {
    color: darkblue;
    text-shadow: 0 0 5px blue;
}

h5 {
    margin: 5px
    
}

.text1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
}

.text2 {
    text-align: justify;
    margin-left: 15px;
}
img {
    float: right;
}